.MobileNav {
  display: none;
}

@media (max-width: 640px) {
  .DesktopNav {
    display: none;
  }

  .MobileNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--background);
    padding: 1rem 2rem;
    position: relative;
    z-index: 999;
  }

  .MobileNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .HamburgerBtn {
    background: #fed3d3;
    padding: 5px 8px;
    border-radius: 50%;
    color: var(--text);
    border: none;
    cursor: pointer;
  }

  .MobileMenu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 1rem;
    gap: 3rem;
    margin-top: 3rem;
  }

  .MobileLinkItem {
    list-style: none;
  }

  .MobileNavLink {
    color: #fed3d3;
    font-size: var(--font-size-h3);
    font-weight: 300;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .MobileNavLink:hover,
  .active .MobileNavLink {
    color: #fbc5c5;
    scale: 1.05;
  }

  .logoImg {
    height: 30px;
    width: auto;
  }
}
