.AccordionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 1rem;
  color: var(--text);
}

.AccordionHead {
  margin-bottom: 0;
}

.AccordionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.AccordionItemContainer {
  min-width: 60%;
}

.AccordionHead h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: var(--font-size-h1);
}

.AccordionItem {
  width: 100%;
  border: 1px solid var(--text);
  border-radius: 15px;
  padding: 0.8rem;
  background: var(--gradient);
  transition: all 0.3s ease;
  margin: 20px 0;
}

.AccordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.AccordionHeader .Icon {
  color: #fed3d3;
}

.AccordionHeader h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  letter-spacing: 1px;
}

.AccordionContent {
  display: flex;
  justify-content: space-between;
}

.AccordionText {
  padding-top: 15px;
}

.AccordionText .Sub {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 0.6px;
}

.AccordionText p {
  font-size: var(--font-size-p);
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 25px;
  letter-spacing: 0.6px;
}

.AccordionBtn {
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.AccordionBtn:hover {
  scale: 1.05;
}

.AccordionImage {
  margin-top: 22px;
}

.AccordionImage img {
  height: 21rem;
  width: 23rem;
  border: none;
  border-radius: 20px;
}

.AccordionClose {
  font-weight: 500;
}

@media (max-width: 1081px) {
  .AccordionContainer {
    padding: 40px;
    gap: 0.7rem;
    color: var(--text);
  }

  .AccordionHead {
    margin-bottom: 0;
  }

  .AccordionSection {
    width: 100%;
  }

  .AccordionItemContainer {
    margin-left: 4.5rem;
    min-width: 80%;
  }

  .AccordionHead h1 {
    letter-spacing: 0.6px;
    font-size: var(--font-size-h1);
  }

  .AccordionItem {
    width: 100%;
    border: 1px solid var(--text);
    border-radius: 15px;
    padding: 0.7rem;
    background: var(--gradient);
    transition: all 0.3s ease;
    margin: 20px 0;
  }

  .AccordionHeader .Icon {
    color: #fed3d3;
  }

  .AccordionHeader h3 {
    font-size: var(--font-size-h3);
    letter-spacing: 0.7px;
    font-weight: 600;
  }

  .AccordionText {
    padding: 10px 0;
  }

  .AccordionText .Sub {
    margin-bottom: 5px;
    letter-spacing: 0.6px;
  }

  .AccordionText p {
    font-size: var(--font-size-p);
    margin-bottom: 10px;
    line-height: 23px;
  }

  .AccordionBtn {
    margin-top: 10px;
  }

  .AccordionImage img {
    display: none;
  }
}

@media (max-width: 640px) {
  .AccordionContainer {
    padding: 30px;
    gap: 0.7rem;
    color: var(--text);
  }

  .AccordionImage img {
    display: none;
  }

  .AccordionItemContainer {
    margin-left: 1.7rem;
    min-width: 90%;
  }
}

@media (max-width: 480px) {
  .AccordionContainer {
    padding: 40px 30px;
    gap: 0.4rem;
  }

  .AccordionSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .AccordionItemContainer {
    margin-left: 0;
    min-width: 100%;
  }

  .AccordionHead h1 {
    letter-spacing: 0.4px;
    font-size: 24px;
  }

  .AccordionItem {
    width: 100%;
    border-radius: 15px;
    padding: 0.7rem;
    margin: 20px 0;
  }

  .AccordionHeader .Icon {
    color: #fed3d3;
  }

  .AccordionHeader h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
  }

  .AccordionText {
    padding: 0;
  }

  .AccordionText .Sub {
    font-size: var(--font-size-p);
    margin-top: 10px;
    margin-bottom: 3px;
    letter-spacing: 0.6px;
  }

  .AccordionText .Sub {
    font-weight: 500;
  }

  .AccordionText p {
    font-size: 15px;
    margin-top: 0;
    line-height: 23px;
    letter-spacing: 0.6px;
  }

  .AccordionClose {
    font-weight: 500;
  }

  .AccordionBtn {
    margin: 10px 0;
  }

  .AccordionImage img {
    display: none;
  }

  .AccordionBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
