@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.HeroContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.HeroContainer::before {
  content: "";
  position: absolute;
  background: url("/headerImg.jpg") no-repeat center center;
  background-size: full;
  opacity: 0.2;
  width: 100%;
  min-height: 85vh;
  pointer-events: none;
  z-index: 0;
}

.HeroText {
  background: rgba(255, 255, 255, 0.023);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  margin: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text);
  gap: 10px;
  width: 50%;
  height: auto;
}

.HeroHeaders h2 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.HeroSubheader {
  margin-top: 10px;
  padding-right: 10px;
}

.HeroSubheader p {
  font-size: var(--font-size-h2);
  line-height: 30px;
}

.HeroSubheader span {
  color: #a63509;
}

.HeroButton {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroButton .Button {
  padding: 10px 20px;
  font-size: var(--font-size-h3);
  border-radius: 15px;
}

@media (max-width: 1080px) {
  .HeroContainer {
    display: flex;
    margin-bottom: 20px;
  }

  .HeroContainer::before {
    opacity: 0.2;
    width: 100%;
    min-height: 44vh;
  }

  .HeroText {
    background: rgba(255, 255, 255, 0.023);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(3px);
    margin: 50px;
    gap: 10px;
    width: 70%;
  }

  .HeroHeaders h2 {
    font-size: 3rem;
    letter-spacing: 0.6px;
  }

  .HeroSubheader {
    margin-top: 10px;
    padding-right: 10px;
  }

  .HeroSubheader p {
    font-size: var(--font-size-h3);
    line-height: 30px;
  }

  .HeroSubheader span {
    color: #a63509;
  }

  .HeroButton {
    margin-top: 40px;
  }

  .HeroButton .Button {
    font-size: var(--font-size-h3);
  }
}

@media (max-width: 640px) {
  .HeroContainer {
    display: flex;
    margin-bottom: 20px;
  }

  .HeroContainer::before {
    opacity: 0.2;
    width: 100%;
    min-height: 75vh;
  }

  .HeroText {
    background: rgba(255, 255, 255, 0.023);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(3px);
    margin: 40px;
    gap: 10px;
    width: 80%;
  }

  .HeroHeaders h2 {
    font-size: 2.3rem;
    letter-spacing: 0.6px;
  }

  .HeroSubheader {
    margin-top: 10px;
    padding-right: 10px;
  }

  .HeroSubheader p {
    font-size: var(--font-size-h3);
    line-height: 25px;
  }

  .HeroSubheader span {
    color: #a63509;
  }

  .HeroButton {
    margin-top: 40px;
  }

  .HeroButton .Button {
    font-size: var(--font-size-h3);
  }
}

@media (max-width: 480px) {
  .HeroContainer {
    display: flex;
    margin-bottom: 50px;
  }

  .HeroContainer::before {
    opacity: 0.2;
    width: 100%;
    min-height: 48vh;
  }

  .HeroText {
    background: rgba(255, 255, 255, 0.023);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(3px);
    margin: 40px;
    gap: 10px;
    width: 100%;
  }

  .HeroHeaders h2 {
    font-size: 24px;
    letter-spacing: 0.6px;
  }

  .HeroSubheader {
    margin-top: 10px;
    padding-right: 10px;
  }

  .HeroSubheader p {
    font-size: var(--font-size-p);
    line-height: 20px;
  }

  .HeroSubheader span {
    color: #a63509;
  }

  .HeroButton {
    margin-top: 30px;
  }

  .HeroButton .Button {
    font-size: var(--font-size-p);
  }
}
