.BrandsSection {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.BrandsHeader {
  margin-bottom: 20px;
}

.BrandsHeader h1 {
  color: var(--text);
  font-size: var(--font-size-h1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.BrandsSliderWrapper {
  width: 100%;
  overflow: hidden;
}

.BrandsSliderContainer {
  width: fit-content;
  display: flex;
}


.BrandsSliderTrack {
  display: flex;
  gap: 1rem;
}

.BrandsSliderImage {
  flex: 0 0 auto;
  width: 120px;
  height: 130px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BrandsSliderImage img {
  height: 100px;
  width: 110px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.BrandsSliderImage img:hover {
  cursor: pointer;
  scale: 1.07;
  border: 2px solid var(--background);
}

@media (max-width: 1081px) {
  .BrandsSection {
    padding: 40px;
    display: flex;
    margin-bottom: 30px;
  }

  .BrandsHeader {
    margin-bottom: 20px;
  }

  .BrandsHeader h1 {
    color: var(--text);
    font-size: 1.6rem;
    letter-spacing: 0.7px;
  }

  .BrandsSliderTrack {
    gap: 0.7rem;
  }

  .BrandsSliderImage {
    width: 100px;
    height: 120px;
    margin: 0 0.7rem;
  }

  .BrandsSliderImage img {
    height: 90px;
    width: 100px;
    cursor: pointer;
  }

  .BrandsSliderImage img:hover {
    scale: 1.05;
  }
}

@media (max-width: 480px) {
  .BrandsSection {
    padding: 30px;
    margin-bottom: 30px;
  }

  .BrandsHeader {
    margin-bottom: 10px;
  }

  .BrandsHeader h1 {
    color: var(--text);
    font-size: var(--font-size-h2);
    letter-spacing: 0.4px;
  }

  .BrandsSliderTrack {
    gap: 0.5rem;
  }

  .BrandsSliderImage {
    width: 100px;
    height: 100px;
    margin: 0 0.4rem;
  }

  .BrandsSliderImage img {
    height: 80px;
    width: 90px;
    cursor: pointer;
  }

  .BrandsSliderImage img:hover {
    scale: 1.05;
  }
}
