.AboutContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/logoImg.png") no-repeat center center;
  background-size: contain;
  opacity: 0.1;
  width: 90%;
  height: auto;
  pointer-events: none;
  z-index: 0;
}

.About {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  z-index: 1;
  padding: 60px;
  color: var(--text);
}

.AboutHeader {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.AboutHeader h1 {
  font-size: var(--font-size-h1);
}

.AboutIntro {
  margin-top: 20px;
  line-height: 38px;
}

.AboutIntro h2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
}

.AboutSubheader {
  margin-top: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.AboutSubheader p {
  font-size: var(--font-size-p);
}

.AboutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutBtn button {
  margin-top: 25px;
  padding: 10px 30px;
  font-size: var(--font-size-h3);
  border-radius: 15px;
}

@media (max-width: 1081px) {
  .AboutContainer::before {
    opacity: 0.1;
    width: 90%;
  }

  .About {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    z-index: 1;
    padding: 40px;
    color: var(--text);
  }

  .AboutHeader {
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  .AboutHeader h1 {
    font-size: var(--font-size-h1);
  }

  .AboutIntro {
    margin-top: 15px;
    line-height: 30px;
  }

  .AboutIntro h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
  }

  .AboutSubheader {
    margin-top: 10px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }

  .AboutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AboutBtn button {
    margin-top: 15px;
    padding: 10px 30px;
    font-size: var(--font-size-h3);
    border-radius: 15px;
  }
}

@media (max-width: 480px) {
  .AboutContainer::before {
    opacity: 0.1;
    width: 95%;
  }

  .About {
    width: 100%;
    padding: 30px;
  }

  .AboutHeader {
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  .AboutHeader h1 {
    font-size: 24px;
  }

  .AboutIntro {
    margin-top: 10px;
    line-height: 25px;
  }

  .AboutIntro h2 {
    font-size: var(--font-size-p);
    font-weight: 600;
    line-height: 22px;
  }

  .AboutSubheader {
    margin-top: 10px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }

  .AboutSubheader p {
    font-size: 15px;
  }

  .AboutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AboutBtn button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: var(--font-size-p);
    border-radius: 13px;
  }
}
