.HomeOfferContainer {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.HomeOfferSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.HomeOfferWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.HomeOfferWrap h2 {
  text-align: center;
  font-size: var(--font-size-h2);
  text-transform: uppercase;
}

.HomeOfferCard {
  position: relative;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.HomeOfferImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.HomeOfferImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.45;
  /* filter: blur(0.05px); */
}

.HomeOfferText {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1px);
}

.HomeOfferBack {
  padding: 15px;
  border: 1px solid var(--text);
  border-radius: 12px 12px 0 0;
  background-color: inherit;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.HomeOfferBack h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
}

.HomeOfferBack p {
    font-size: var(--font-size-p);
  font-weight: 600;
}

.HomeOfferPrice {
  font-style: italic;
  font-weight: 600;
}

.HomeOfferItem {
  padding: 15px;
  border: 1px solid var(--text);
  border-top: none;
  border-radius: 0 0 12px 12px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.HomeOfferItem li {
  list-style: none;
}

.HomeOfferBtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 1081px) {
  .HomeOfferContainer {
    padding: 40px;
  }

  .HomeOfferSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
  }

  .HomeOfferWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .HomeOfferWrap h2 {
    font-size: 20px;
  }

  .HomeOfferCard {
    width: 400px;
    height: auto;
  }

  .HomeOfferBack {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
    border-radius: 12px 12px 0 0;
    gap: 5px;
  }

  .HomeOfferBack h3 {
    font-size: var(--font-size-p);
    font-weight: 500;
  }

  .HomeOfferBack p {
    font-size: var(--font-size-p);
    font-weight: 600;
  }

  .HomeOfferPrice {
    font-style: italic;
    font-weight: 500;
  }

  .HomeOfferItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
    border-top: none;
    border-radius: 0 0 12px 12px;
    gap: 5px;
  }

  .HomeOfferItem li {
    list-style: none;
    font-size: var(--font-size-p);
  }

  .HomeOfferBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .HomeOfferBtn .Button {
    font-size: var(--font-size-p);
  }
}

@media (max-width: 640px) {
  .HomeOfferContainer {
    padding: 30px;
  }

  .HomeOfferSection {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .HomeOfferWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .HomeOfferWrap h2 {
    font-size: var(--font-size-h2);
  }

  .HomeOfferCard {
    width: 360px;
    height: auto;
  }

  .HomeOfferBack {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid;
    border-radius: 12px 12px 0 0;
    gap: 5px;
  }

  .HomeOfferBack h3 {
    font-size: var(--font-size-h3);
    font-weight: 500;
  }

  .HomeOfferBack p {
    font-size: 18px;
    font-weight: 600;
  }

  .HomeOfferItem {
    padding: 15px;
    gap: 10px;
  }

  .HomeOfferItem li {
    font-size: 16px;
  }

  .HomeOfferBtn .Button {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .HomeOfferContainer {
    padding: 30px;
  }

  .HomeOfferSection {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .HomeOfferWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .HomeOfferWrap h2 {
    font-size: var(--font-size-h3);
  }

  .HomeOfferCard {
    width: 310px;
    height: auto;
  }

  .HomeOfferBack {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
    border-radius: 12px 12px 0 0;
    gap: 5px;
  }

  .HomeOfferBack h3 {
    font-size: var(--font-size-p);
    font-weight: 500;
  }

  .HomeOfferBack p {
    font-size: 15px;
    font-weight: 600;
  }

  .HomeOfferItem {
    padding: 10px;
    gap: 6px;
  }

  .HomeOfferItem li {
    font-size: 15px;
  }

  .HomeOfferBtn .Button {
    font-size: 16px;
  }
}
