.HomeOfferContainer {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.HomeOfferSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;
  align-items: center;
}

.HomeOfferWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.HomeOfferCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: auto;
}

.HomeOfferBack {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid;
  border-radius: 12px 12px 0 0;
  gap: 5px;
}

.HomeOfferBack h3 {
  font-size: var(--font-size-h3);
  font-weight: 500;
}

.HomeOfferBack p {
  font-weight: 600;
}

.HomeOfferPrice {
  font-style: italic;
  font-weight: 500;
}

.HomeOfferItem {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid;
  border-top: none;
  border-radius: 0 0 12px 12px;
  gap: 10px;
}

.HomeOfferItem li {
  list-style: none;
}

.HomeOfferBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

@media (max-width: 640px) {
  .HomeOfferContainer {
    padding: 30px;
  }

  .HomeOfferSection {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .HomeOfferWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .HomeOfferWrap h2 {
    font-size: var(--font-size-h2);
  }

  .HomeOfferCard {
    width: 360px;
    height: auto;
  }

  .HomeOfferBack {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid;
    border-radius: 12px 12px 0 0;
    gap: 5px;
  }

  .HomeOfferBack h3 {
    font-size: var(--font-size-h3);
    font-weight: 500;
  }

  .HomeOfferBack p {
    font-size: 18px;
    font-weight: 600;
  }

  .HomeOfferItem {
    padding: 15px;
    gap: 10px;
  }

  .HomeOfferItem li {
    font-size: 16px;
  }

  .HomeOfferBtn .Button {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .HomeOfferContainer {
    padding: 30px;
  }

  .HomeOfferSection {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .HomeOfferWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .HomeOfferWrap h2 {
    font-size: var(--font-size-h3);
  }

  .HomeOfferCard {
    width: 310px;
    height: auto;
  }

  .HomeOfferBack {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
    border-radius: 12px 12px 0 0;
    gap: 5px;
  }

  .HomeOfferBack h3 {
    font-size: var(--font-size-p);
    font-weight: 500;
  }

  .HomeOfferBack p {
    font-size: 15px;
    font-weight: 600;
  }

  .HomeOfferItem {
    padding: 10px;
    gap: 6px;
  }

  .HomeOfferItem li {
    font-size: 15px;
  }

  .HomeOfferBtn .Button {
    font-size: 16px;
  }
}
