.ContactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactFormContainer h1 {
  font-size: var(--font-size-h1);
  color: var(--text);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.ContactFormCard {
  width: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.ContactFormImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.ContactFormImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.45;
}

.ContactForm {
  width: 380px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 20px;
  border: 1px solid var(--background);
  border-radius: 12px;
  position: relative;
  z-index: 1;
  flex-direction: column;
  backdrop-filter: blur(2.5px);
}

.ContactForm input {
  background: none;
  font-size: 15px;
  outline: none;
  color: var(--text);
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid var(--background);
}

.FormTextArea {
  font-size: 16px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.32);
  outline: none;
  border: 0.6px solid var(--background);
  padding: 10px;
  border-radius: 7px;
  color: #000;
  resize: vertical;
  resize: none;
  transition: border-color 0.3s ease;
}

.FormTextArea:focus {
  border-color: var(--background);
  box-shadow: 0 0 0 1px var(--background);
}

.FormSelect {
  background: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 4px 6px;
  font-weight: 500;
  border-radius: 4px;
  color: var(--text);
  font-size: var(--font-size-p);
  outline: none;
  cursor: pointer;
}

.SelectWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 5px;
}

.SelectIcon {
  pointer-events: none;
  color: var(--text);
  z-index: 2;
}

.ContactForm .Button {
  margin-top: 10px;
  width: 200px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1081px) {
  .ContactFormContainer {
    margin-left: 0;
  }

  .ContactFormContainer h1 {
    font-size: var(--font-size-h1);
    letter-spacing: 0.7px;
    margin-bottom: 25px;
  }

  .ContactFormCard {
    width: 400px;
    border-radius: 10px;
  }

  .ContactForm {
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
  }

  .ContactForm input {
    padding: 10px;
  }

  .FormTextArea {
    font-weight: 300;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
  }

  .ContactForm .Button {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .ContactFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .ContactFormContainer h1 {
    font-size: var(--font-size-h3);
    color: var(--text);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .ContactFormCard {
    width: 280px;
    border-radius: 8px;
  }

  .ContactForm {
    width: 280px;
    margin: 0;
    padding: 1rem;
    display: flex;
    gap: 10px;
    border-radius: 8px;
  }

  .ContactForm input {
    font-size: 14px;
    padding: 9px;
  }

  .FormLabel {
    font-size: 15px;
    font-weight: 500;
    color: var(--text);
    letter-spacing: 0.3px;
    text-transform: capitalize;
    padding: 10px 0 0 5px;
  }

  .FormTextArea {
    font-size: var(--font-size-p);
    font-weight: 400;
    background: transparent;
    border-radius: 7px;
    margin: 10px 0;
  }

  .FormSelect {
    background: inherit;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    color: var(--text);
    font-size: var(--font-size-p);
  }

  .ContactForm .Button {
    width: 180px;
  }
}
